.event {
  padding: 20px 0;
  border: solid 1px #EAEAEA;
  width: 90%;
  text-align: center;
  margin: 1rem auto;
  border-radius: 3px;
  background-color: white;
}

h2.event-title {
  font-weight: 300;
}

.event-location {
  color:darkgray;
  margin: 5px 0;
}

.event-datetime {
  color: #FD7E14;
  margin: 5px 0;
}

@media(min-width: 40rem) {
  .event {
    width: 50%;
  }
}
